/* Main */
body {
  margin: 0;
  font-family: 'Karla' !important;
  color: #7E7E7E !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCFCFC;
  background-image: url("assets/pattern.png");
  background-repeat: repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

